{{#each events as |event|}}
  {{log event}}

  <div class="col-xl-4 col-md-6 col-sm-12" align="center">

    <!-- Event card -->
    <div class="event-card">
      <section class="event-card-header">
        <h3>{{limit event.name 15}}</h3>

        <!-- Event options -->
        <div id="dropdown-menu" class="dropup">
          <button class="button form-button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" id="edit-event-button" data-toggle="modal" data-target="#update-event-modal-{{event.id}}">Edit</a>
            <a class="dropdown-item" id="delete-event-button" data-id="{{event.id}}">Delete</a>
          </div>
        </div>
      </section>
      <section class="event-card-body" align="left">
        <p>
          Date: {{event.start_date}} - {{event.end_date}}
        </p>
        <p>
          {{#if event.end_time}}
            Time: {{event.simple_start_time}} - {{event.simple_end_time}}
          {{else if event.start_time}}
            Time: {{event.simple_start_time}}
          {{else}}
            Time: N/A
          {{/if}}
        </p>
        <p>
          {{#if event.location}}
            Location: {{event.location}}
          {{else}}
            Location: N/A
          {{/if}}
        </p>
      </section>
    </div>
  </div>

  <!-- Update event modal -->
  <div class="modal fade" id="update-event-modal-{{event.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"><span class="header-1">Update</span>
            <span class="header-2">Event {{event.id}}</span></h1>
        </div>
        <div class="modal-body">
          <div class="feedback-box">
            <p id="update-event-feedback" class="user-feedback modal-feedback"></p>
          </div>
          <form class="update-event-form" data-id="{{event.id}}">
            <div class="form-group">
              <input class="form-field modal-form-field" name="event[name]" placeholder="Title" type="text" required>
            </div>
            <div class="form-group">
              <input class="form-field modal-form-field" name="event[start_date]" placeholder="Start date" type="date" required>
              <input class="form-field modal-form-field" name="event[end_date]" placeholder="End date" type="date" required>
            </div>
            <div class="form-group">
              <input class="form-field modal-form-field" name="event[start_time]" type="time">
              <input class="form-field modal-form-field" name="event[end_time]" type="time">
            </div>
            <div class="form-group">
              <input class="form-field modal-form-field" name="event[location]" placeholder="Location" type="text">
            </div>
            <div class="modal-button-container">
              <button type="button" data-dismiss="modal" class="button form-button">Cancel</button>
              <input type="submit" class="button form-button modal-button" value="Update Event">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{{/each}}
